$webResourceManager.requireResource("com.atlassian.auiplugin:aui-spinner")
$webResourceManager.requireResource("com.atlassian.plugins.atlassian-plugins-frontend-api:atlassian-plugins-frontend-api-resources")

<div 
    id="<%= webfragmentId %>-root"
    #if ($payload)
        data-payload="$payload"
    #end>
    <aui-spinner size="small"></aui-spinner>
</div>
<script>
    (function() {
        WRM.require(["wrc!com.atlassian.plugins.atlassian-plugins-frontend-api:atlassian-plugins-frontend-api-resources"]);
        var container = document.getElementById('<%= webfragmentId %>-root');
        var payload = {};
        try {
            payload = JSON.parse(container.dataset.payload);
        } catch(e) {}
        
        window.__webpanel_register.push({
            id: '<%= webfragmentId %>',
            element: container,
            resources: '<%= resourceKey %>',
            payload: payload,
            type: 'web-panel',
            loadType: 'async'
        });
    })();
</script>